<template>
  <div>
    <b-container fluid>
      <b-row>
        <b-col class="text-right">
          <ProductForm :product="selectedItem" ref="productForm" @save="saveProduct"></ProductForm>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table :items="productItems" :fields="fields">
             <template #cell(price)="{ item }">{{item.price.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}} ฿</template>
            <template #cell(operators)="{ item }">
              <b-button @click="editProduct(item)">แก้ไข</b-button>
              <b-button
                @click="deleteProduct(item)"
                class="ml-2"
                variant="danger"
                >ลบ</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import ProductForm from './ProductForm.vue'
import axios from 'axios'
export default {
  components: {
    ProductForm
  },
  methods: {
    makeToast (title, message, variant = 'sucess', append = false) {
      this.toastCount++
      this.$bvToast.toast(message, {
        title: title,
        variant: variant,
        autoHideDelay: 3000,
        appendToast: append
      })
    },
    saveProduct (product) {
      console.log(product)
      if (product._id === '') {
        axios.post('http://localhost:3000/products', product).then(
          function (response) {
            const newProduct = response.data
            this.getProduct()
            this.makeToast('Add Sucess', 'product ' + newProduct._id)
          }.bind(this)
        ).catch(() => {
          this.makeToast('Add Failed', 'product ' + product._id, 'danger')
        })
      } else {
        axios.put('http://localhost:3000/products/' + product._id, product).then(
          function (response) {
            this.getProduct()
            const updateProduct = response.data
            this.makeToast('Edit Sucess', 'product ' + updateProduct._id)
          }.bind(this)
        ).catch(() => {
          this.makeToast('Edit Failed', 'product ' + product._id)
        })
      }
    },
    editProduct (item) {
      this.selectedItem = JSON.parse(JSON.stringify(item))
      this.$nextTick(() => {
        this.$refs.productForm.show()
      })
    },
    deleteProduct (product) {
      if (confirm(`Do you really want to delete ${product._id} ?`)) {
        axios.delete('http://localhost:3000/products/' + product._id).then(
          function (response) {
            this.getProduct()
            this.makeToast('Delete Sucess', 'product ' + product._id)
          }.bind(this)
        ).catch(() => {
          this.makeToast('Delete Failed', 'product ' + product._id, 'danger')
        })
      }
    },
    getProduct () {
      axios.get('http://localhost:3000/products').then(function (response) {
        console.log(response)
        this.productItems = response.data
      }.bind(this))
    }
  },
  data () {
    return {
      fields: [
        { key: '_id', label: 'ไอดี' },
        { key: 'name', label: 'ชื่อ' },
        { key: 'price', label: 'ราคา' },
        { key: 'operators', label: 'กระบวนการ' }
      ],
      productItems: [
      ],
      selectedItem: null
    }
  },
  mounted () {
    this.getProduct()
  }
}
</script>
<style></style>
